@model IEnumerable<PublicWebMVC.Models.Recipe>

	@{
		ViewData["Title"] = "SearchResults";
		Layout = "~/Views/Shared/_Layout.cshtml";
	}
	<div>
		<div class="inline" style="padding: 5%;">
			<form asp-controller="Home" asp-action="SearchResults" class="form-inline">
				<input class="form-control mr-sm-2" type="search" name="searchString" placeholder="Search Recipes" aria-label="Search" style="width: 90%">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>

		@foreach (var item in Model) { 
			<div class='col-md-4'>
				<div class='card mb-4 box-shadow'>
					<img class='card-img-top' src="@Html.DisplayFor(modelItem => item.Image)" alt="Image of @Html.DisplayFor(modelItem => item.Title)">
					<div class='card-body'>
						<p class='card-text'> @Html.DisplayFor(modelItem => item.Title)</p>
						<div class='d-flex justify-content-between align-items-center'>
							<small class='text-muted'>from @Html.DisplayFor(modelItem => item.SourceName)</small>
							<small class='text-muted'><strong> + @Html.DisplayFor(modelItem => item.ReadyInMinutes) mins</strong></small>
						</div>
						<div class='d-flex justify-content-between align-items-center'>
							<small class='text-muted'>Rating: @Html.DisplayFor(modelItem => item.SpoonacularScore)%</small>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
